@font-face {
    font-family: 'SolomonSans';
    src: url('/assets/fonts/solomon_sans/SolomonSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SolomonSans';
    src: url('/assets/fonts/solomon_sans/SolomonSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'SolomonSans';
    src: url('/assets/fonts/solomon_sans/SolomonSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}